@use '../../styles/vars';

.catalog {
  padding: 86px 0 0 0;
  &__fieldset {
    border: none;
    padding: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 40px 0 0 0;
    margin: 0 0 40px 0;
  }

  &__more {
    display: block;
    width: 170px;
    height: 48px;
    margin: 80px auto;
    border: none;
    background-color: vars.$white;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 3px 9px #39140014;
  }
}