@use './vars';
@use './mixins';

@font-face {
  font-family: "SegoeUI";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/SegoeUI.woff"),
  url("../assets/fonts/SegoeUI.woff2")
}

body {
  margin: 0;
  font-family: "SegoeUI";
  background-color: vars.$light;
}

.container{
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
