@use '../../styles/vars';

.hero {
  background-color: vars.$dark-blue;
  color: vars.$white;
  text-align: center;
  padding: 90px 0 52px 0; 
  &__heading {
    margin: 0 0 38px 0;
    font-size: 72px;
  }
  &__text{
    color: vars.$gray;
    font-size: 16px;
  }
}
